body {
    background: #e1f8e7;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 5rem;
}

.navi-size {
    font-size: 30px;
}

.bgimg {
    background-image: url(keyboard-background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.blurb-top {
    font-size: 30px;
    width: 95%;
        padding-left: 3rem;

}

.blurb-middle {
    font-size: 22px;
}

.blurb-bottom {
    font-size: 18px;
}

@media (min-width:700px) {
    #collapse2 {
        display: none;
    }
}

@media (max-width:699px) {
    #collapse1 {
        display: none;
    }

}

table.size {
    width: 85%;
}

.ending {
    background-color: white;
}

div.ending {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.center {

    margin-left: auto;
    margin-right: auto;
}

.elise {
    width: 263px;
}
